.block{
    height: 200px;
    width: 100%;
    padding: 20px;
}
.avatarBlock{
    float: left;
    margin: 15px;
    /*inn: 25%;*/
    height: 50px;
    width: 50px;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #000;
    background-color: #f3f3f3;
    border-radius: 5px;
    font-size: 16px;
}

.avatarBlock.round{
    border-radius: 50%;
    font-size: 18px;
}
.avatarBlock.box{
    border-radius: 10%;
    font-size: 18px;
}
.avatarBlock.box{
    border-radius: 10%;
    font-size: 18px;
}

.avatar-a,.avatar-A{ color: #fff;background-color: #ffcdd2}
.avatar-b,.avatar-B{ color: #fff;background-color: #5C6BC0}
.avatar-c,.avatar-C{ color: #fff;background-color: #2E7D32}
.avatar-d,.avatar-D{ color: #fff;background-color: #F50057}
.avatar-e,.avatar-E{ color: #fff;background-color: #FFE0B2}
.avatar-f,.avatar-F{ color: #fff;background-color: #A1887F}
.avatar-g,.avatar-G{ color: #fff;background-color: #006064}
.avatar-h,.avatar-H{ color: #fff;background-color: #9FA8DA}
.avatar-i,.avatar-I{ color: #fff;background-color: #B388FF}
.avatar-j,.avatar-J{ color: #fff;background-color: #FF3D00}
.avatar-k,.avatar-K{ color: #fff;background-color: #b71c1c}
.avatar-l,.avatar-L{ color: #fff;background-color: #90A4AE}
.avatar-m,.avatar-M{ color: #fff;background-color: #7C4DFF}
.avatar-n,.avatar-N{ color: #fff;background-color: #A5D6A7}
.avatar-o,.avatar-O{ color: #fff;background-color: #2196F3}
.avatar-p,.avatar-P{ color: #fff;background-color: #00C853}
.avatar-q,.avatar-Q{ color: #fff;background-color: #00BCD4}
.avatar-r,.avatar-R{ color: #fff;background-color: #EC407A}
.avatar-s,.avatar-S{ color: #fff;background-color: #212121}
.avatar-t,.avatar-T{ color: #fff;background-color: #82B1FF}
.avatar-u,.avatar-U{ color: #fff;background-color: #80D8FF}
.avatar-v,.avatar-V{ color: #fff;background-color: #DD2C00}
.avatar-w,.avatar-W{ color: #fff;background-color: #9C27B0}
.avatar-x,.avatar-X{ color: #fff;background-color: #795548}
.avatar-y,.avatar-Y{ color: #fff;background-color: #F9A825}
.avatar-z,.avatar-Z{ color: #fff;background-color: #00B8D4}
